@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  background-color: #F0EAF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding-top: 120px;
}
input:focus {
    outline: none;
  }
